head
  title Add Artwork
  link(rel="stylesheet" href="/styles.css")

body
  include ./partials/header
  #add-artwork-content
    h1#add-artwork-title Add Artwork

    form#add-artwork-form(action="/main/addArt", method="POST")
      label(for="title") Title:
      input#title-input(type="text", name="title", required)

      label(for="year") Year:
      input#year-input(type="text", name="year", required)

      label(for="category") Category:
      input#category-input(type="text", name="category", required)

      label(for="medium") Medium:
      input#medium-input(type="text", name="medium", required)

      label(for="description") Description:
      textarea#description-input(name="description", required)

      label(for="poster") Poster URL:
      input#poster-input(type="text", name="poster", required)

      button#add-art-button(type="submit") Add Art
    
    if error
      p#error= errortype
