head
  title Workshop Application
  link(rel="stylesheet", href="/styles.css")
body
  include ./partials/header
  #add-workshop-content
    h1#add-workshop-title Add Workshop

    form#add-workshop-form(action="/main/addWork", method="POST")
      label(for="title") Title:
      input#title-input(type="text", name="title", required)

      label(for="location") Location:
      input#location-input(type="text", name="location", required)

      label(for="date") Date:
      input#date-input(type="text", name="date", placeholder="YYYY-MM-DD", required)
      if error
          p#error= errortype
      button#save-button(type="submit") Save
