html
  head
    title Dashboard
    script(src="/client.js")
    link(rel="stylesheet" href="/styles.css")

  body
    include ./partials/header
    h1 Dashboard
    if session.user
      p Welcome, #{session.user.username}!
      p Your account type is: #{session.user.type}

      if session.following && session.following.length > 0
        p You are following the following artists:
          ul
            each artist in session.following
              li= artist
      else
        p You are not following any artists.
      a(href="/account/logout") Logout
      if session.user.type === "patron"
        p Change your account to artist type <a href="/account/switch">here</a>
      else if session.user.type === "artist"
        p Change your account to patron type <a href="/account/switch">here</a>
    else
      p You are not logged in.
      a(href="/account/login") Login
