html(lang="en")
  head
    title Escaped the Server
    link(rel="stylesheet", href="/styles.css")
  body
    div
      p Oh, you have escaped the server. Click this link to go back to home:
      a(href="/main/home") Go Back to Home