html
  head
    title Notifications
    link(rel="stylesheet", href="/styles.css")

  body
    include ./partials/header
    h1 Notifications

    if session.user.notifications && session.user.notifications.length > 0
      ul
        each notification in session.user.notifications
          if notification.for === "art"
            li
              p #{notification.artist} 
                |  has created a new 
                a(href=`/main/art/${notification.idofnot}`) artwork
          if notification.for === "work"
            li
              p #{notification.artist} 
                |  has created a new 
                a(href=`/main/work/${notification.idofnot}`) workshop

    else
      p No notifications yet.