html
  head
    title Register Page
    script(src="/client.js")
    link(rel="stylesheet" href="/styles.css")

  body
    h1 Register
    form(action="/account/register", method="post")
      label(for='username') Username:
      input(type='text', name='username', required)
      br
      label(for='password') Password:
      input(type='password', name='password', required)
      if error
        p#error= errortype
      br
      input(type='submit', value='Register')
    p Already Have an Account? <a href="/account/login">Login here</a>
