html
  head
    title Register Page
    script(src="/client.js")
    style(src="/styles.css")

  body
    h1 Register
    form(action="/account/register", method="post")
      label(for='username') Username:
      input(type='text', name='username', required)
      br
      label(for='password') Password:
      input(type='password', name='password', required)
      br
      input(type='submit', value='Register')
