html
  head
    title Switch Page
    link(rel="stylesheet", href="/styles.css")

body
  include ./partials/header
  form#switch-form(action="/account/switch", method="POST")
    if usertype === "patron"
      h1#switch-title Switch to Artist
      if(session.user.artworks.length > 0)
          p#switch-info You have already created art before, you can switch to artist type now

      else 
          p#switch-info You will need to post art to be an Artist type, please provide the following details:
          label(for="title") Title:
          input#title(type="text", name="title", required)

          label(for="year") Year:
          input#year(type="text", name="year", required)

          label(for="category") Category:
          input#category(type="text", name="category", required)

          label(for="medium") Medium:
          input#medium(type="text", name="medium", required)

          label(for="description") Description:
          textarea#description(name="description", required)

          label(for="poster") Poster URL:
          input#poster(type="text", name="poster", required)
      if error
          p#error= errortype
      button#switch-button(type="submit") Switch to Artist
      p#go-back Changed your mind?
        a#go-back-link(href="/account/dashboard") Go back
    else if usertype === "artist"
      h1#switch-title Switch to Patron
      p#switch-info You will lose the ability to post artworks
      if error
          p#error= errortype
      button#switch-button(type="submit") Switch to Patron
      p#go-back Changed your mind?
        a#go-back-link(href="/account/dashboard") Go back
